body{
  margin: 0;
  padding: 0;
}

.navbar{
  height: 80px;
  background-color: #4a4a4a;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
}


.logo1 img{
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-left: 15px;
  cursor: pointer;

}

.navmenu{
height: 100%;
width: 100%;
background-color:#4a4a4a;
display: flex;
align-items: center;
justify-content: flex-end;
gap: 25px;

}
.navmenu span{
  font-size: 20px;
  color: #f6d44b;
  cursor: pointer;
  font-weight: 2px;

}
.navmenu select{
  font-size: 18px;
  border: none;
  background-color: transparent;
  font-weight:2px;
  color: white;
  transition: 0.5s;
  
}
.navmenu select:hover{
  cursor: pointer;
  color: #f6d44b;
}
.navmenu button{
  border: 1.8px solid white;
  background-color: transparent;
  border-radius: 20px;
  font-size: 19px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-right: 10px;
  transition: 0.3s;
  font-weight: 2px;
  color: white;
  transition: 0.5s;
}
.navmenu button:hover{
  background-color: white;
  color: blue;
  cursor: pointer;
}
#ikonica{
  color: transparent;

  font-size: 25px;
  display: none;

}


@media only screen and (max-width: 700px ) {
  
  
  .navmenu button{
    display: none;
  }
  .navmenu span{
    display: none;
  }
  .navmenu select{
    display: none;
    
  }
  #ikonica{
    display: block;
    color: white;
    margin-right: 20px;
  }
}





